/* Sonner Toaster Message */
[data-sonner-toast][data-type='error'] [data-icon] {
  color: var(--color-error);
}

[data-sonner-toast][data-type='success'] [data-icon] {
  color: var(--color-success);
}

[data-sonner-toast][data-type='warning'] [data-icon] {
  color: var(--color-warning);
}
